body{
    background: url(../img/imagen-fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: yellowgreen;
}
h3, h4{
    color: white;
}
img{
    width: 400px;
}
#thirdDiv{
    width: 500px;
    height: 600px;
    background:powderblue;
    padding: 50px;
    border: 2px solid brown;
    margin: 0px auto;
}
#spanId{
    font-size: 18px;
    margin:50px;
    color: yellowgreen;
}
.divClass{
    margin: 0px auto;
    text-align: center;
}